/* responsive breakpoint */
@media (min-width: 576px) {
    .container-card {
        columns: 1;
    }
}

@media (min-width: 768px) {
    .container-card {
        columns: 2;
    }
}

@media (min-width: 992px) {
    .container-card {
        columns: 3;
    }
}

@media (min-width: 1200px) {
    .container-card {
        columns: 4;
    }
}