* {
    /* color */
    --background: #181719;
    --foreground1: #27242c;
    --foreground2: #3d3a41;
    --primary: #ffffff;
    --secondary: #f3f3f9;
}

body {
    background-color: var(--background);
    color: var(--primary);
    /* margin: 5em; */
}

/* nav */
nav {
    padding: 1em;
    display: flex;
    justify-content: center;
    color: var(--foreground1);
    background-color: var(--primary);
    user-select: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* theme */
.list-button select {
    background-color: var(--primary);
}

.list-button select:hover {
    background-color: var(--secondary);
}

#theme-1 {
    color: var(--foreground1);
}

#theme-1:hover {
    background-color: var(--secondary);
}

#theme-2 {
    background-color: #0d6efd;
    color: var(--primary);
}

#theme-2:hover {
    background-color: #0a5cd8;
}

/* card */
.container-card {
    /* masonry effect */
    columns: 1;
}

.card {
    /* masonry layout */
    break-inside: avoid;

    /* style card */
    color: var(--secondary);
    margin: 0 0.5em 1em;
    padding: 1em 0.5em;
    border-radius: 6px;
    background-color: var(--foreground1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card hr {
    color: var(--foreground2);
}

.card img {
    max-width: 100%;
}

.card a {
    color: var(--primary);
}

.card button {
    color: var(--background);
    background-color: var(--secondary);
    border: none;
    margin: 0.5em 0;
    padding: 1em 1em;
    border-radius: 6px;
    transition-duration: 0.5s;
}

.card button:hover {
    background-color: var(--primary);
    transition-duration: 0.5s;
}

::selection {
    background-color: var(--background);
}

footer svg path {
    fill: var(--primary);
}